In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime, date, timedelta 

from matplotlib import pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
# Licencee name removed with error shown
# to run this code, require Stata 17 and above with Python integration
import stata_setup
stata_setup.config("C:/Program Files/Stata18/", "be")

import pystata
from pystata import stata
from sfi import Scalar, Matrix, Data

  ___  ____  ____  ____  ____ ®
 /__    /   ____/   /   ____/      Stata 18.0
___/   /   /___/   /   /___/       BE—Basic Edition

 Statistics and Data Science       Copyright 1985-2023 StataCorp LLC
                                   StataCorp
                                   4905 Lakeway Drive
                                   College Station, Texas 77845 USA
                                   800-782-8272        https://www.stata.com
                                   979-696-4600        service@stata.com

Stata license: Single-user  perpetual
Serial number: 301806354400
  Licensed to: Eric Tham
               NTU

Notes:
      1. Unicode is supported; see help unicode_advice.

In [3]:
def setDate(df, start, end):
    start = datetime.strptime(start+"-01","%Y-%m-%d")
    end = datetime.strptime(end+"-01","%Y-%m-%d")
    df["Yr_Mth1"] = df["Yr_Mth"].map(lambda x : datetime.strptime(x+"-01","%Y-%m-%d"))
    df = df.loc[(df["Yr_Mth1"] <= end) & (df["Yr_Mth1"] >= start)]
    return df

In [4]:
def checkDuplicates(df):
    dfa1 = df.loc[:,["permid","Yr_Mth"]]
    dfa2 = dfa1.groupby(["permid","Yr_Mth"])["permid"].count()
    df_duplicates = dfa2.loc[:,dfa2 > 1]  # len 18
    return df_duplicates

In [5]:
pwd = "drive path"
#print(os.getcwd())

### Carbon Future prices and other instrumental variable returns

List of variables:
- MO : Symbol for EUA futures price
- CO : Symbol for Brent future price
- CBOT: Chicago Board of Trade ehtanol price
- CL : WTI price
- TTF : Natural gas price benchmark in Europe

In [6]:
df_carbon_3m = pd.read_csv("final data\\df_carbon_3m.csv")
df_carbon_3m.head()

,Yr_Mth,mo1_price,mo3_price,mo12_price,cl1_price,cl3_price,cl12_price,co1_price,co3_price,co12_price,cbot_eth_q1,cbot_eth_q4,ttf_m1,ttf_m3
0,2005-04,19.119000,19.118000,NaN,53.179184,55.005918,55.107959,52.750208,53.973125,53.536042,NaN,NaN,NaN,NaN
1,2005-07,23.135606,23.125000,NaN,63.312188,64.538281,64.682187,61.908769,63.050462,63.215385,NaN,NaN,NaN,NaN
2,2005-10,21.756923,21.757692,NaN,60.046774,60.934032,61.878387,57.760937,58.954687,60.379375,NaN,NaN,NaN,NaN
3,2006-01,25.554615,25.585385,NaN,63.476774,65.360161,67.542419,62.711094,63.838594,65.942969,NaN,NaN,NaN,NaN
4,2006-04,18.560000,18.973846,20.3,70.722698,72.565556,73.997302,70.361587,71.591905,72.649683,NaN,NaN,NaN,NaN

In [7]:
df_carbon_3m_ret = pd.read_csv("final data\\df_carbon_3m_ret.csv")
df_carbon_3m_ret.loc[df_carbon_3m["mo1_price"] > 0.8, "mo1_price"]  = 0.8  
df_carbon_3m_ret.loc[df_carbon_3m["mo1_price"] < -0.8, "mo1_price"] = -0.8
df_carbon_3m_ret = df_carbon_3m_ret.rename(columns = {"mo1_price": "mo1_ret", "mo3_price": "mo3_ret", \
    "mo12_price":"mo12_ret", "cl1_price":"cl1_ret", "cl3_price": "cl3_ret","cl12_price": "cl12_ret", \
    "co1_price":"co1_ret", "co3_price":"co3_ret","co12_price":"co12_ret", \
    "cbot_eth_q1":"cbot_eth_q1_ret","cbot_eth_q4":"cbot_eth_q4_ret","ttf_m1":"ttf_m1_ret","ttf_m3":"ttf_m3_ret"})
df_carbon_3m_ret.head()

,Yr_Mth,mo1_ret,mo3_ret,mo12_ret,cl1_ret,cl3_ret,cl12_ret,co1_ret,co3_ret,co12_ret,cbot_eth_q1_ret,cbot_eth_q4_ret,ttf_m1_ret,ttf_m3_ret
0,2005-04,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005-07,0.8,0.209593,NaN,0.190545,0.173297,0.173736,0.173621,0.168183,0.180800,NaN,NaN,NaN,NaN
2,2005-10,0.8,-0.059127,NaN,-0.051576,-0.055847,-0.043347,-0.066999,-0.064960,-0.044863,NaN,NaN,NaN,NaN
3,2006-01,0.8,0.175924,NaN,0.057122,0.072638,0.091535,0.085701,0.082842,0.092144,NaN,NaN,NaN,NaN
4,2006-04,0.8,-0.258411,NaN,0.114151,0.110241,0.095568,0.121996,0.121452,0.101705,NaN,NaN,NaN,NaN

## Read in stock data
For both US and Germany
- Returns
- Fundamental data
    - Momentum
    - Book to mkt value ratio
    - Mkt capitalisation
    - Profit indicators: REQ (for EU) retained earnings &  (for US)
- ESG sentiment data: Emissions and EnvironmentalInnovation
- Class: brown, green or consumer

In [8]:
df_gr = pd.read_csv("final data\\final_data_gr.csv")
df_gr = setDate(df_gr, "2006-01", "2022-02")
df_gr.head()

,Unnamed: 0,Yr_Mth,permid,MomentumL1Y,Mth_Ret,mkt_cap,req,bm,Emissions,EnvironmentalInnovation,buzz,class,Yr_Mth1
18,18,2006-01,4295868725,0.066941,0.101909,22.850595,NaN,123.235305,0.151157,7.218342,1117.283333,consumer,2006-01-01
19,19,2006-04,4295868725,0.091841,-0.245961,23.288475,NaN,114.734866,-0.212662,1.235282,1448.236264,consumer,2006-04-01
20,20,2006-07,4295868725,-0.000135,-0.705511,22.818316,NaN,126.740292,0.339104,0.411439,1281.010870,consumer,2006-07-01
21,21,2006-10,4295868725,-0.204360,0.034518,22.852252,NaN,124.101557,-0.047341,0.212121,1145.831522,consumer,2006-10-01
22,22,2007-01,4295868725,-0.203761,-0.006564,22.790050,2324.0,129.003667,-0.421738,0.037840,1103.544444,consumer,2007-01-01

In [9]:
df_esg_3m = pd.read_csv("final data\\df_esg_3m.csv")
df_esg_3m = df_esg_3m[["permid","Yr_Mth","Emissions"]]

df_esg_3m = df_esg_3m.dropna()
df_esg_3m.head()

       permid   Yr_Mth  Emissions
0  4295270870  2000-01  66.400000
1  4295270870  2000-04  62.252747
2  4295270870  2000-07  51.108696
3  4295270870  2000-10  39.630435
4  4295270870  2001-01  35.952941

In [10]:
df_carbon_3m_1 = df_carbon_3m[["Yr_Mth", "mo1_price", "mo3_price", "co1_price", "co12_price", "cbot_eth_q1", "ttf_m1", "ttf_m3"]]
df_gr_f = pd.merge(df_gr, df_carbon_3m_1, left_on="Yr_Mth", right_on = "Yr_Mth")

df_carbon_3m_2 = df_carbon_3m_ret[["Yr_Mth", "mo1_ret", "mo3_ret", "co1_ret", "co12_ret", "cbot_eth_q1_ret", "ttf_m1_ret", "ttf_m3_ret"]]
df_gr_f = pd.merge(df_gr_f, df_carbon_3m_2, left_on="Yr_Mth", right_on = "Yr_Mth")

df_gr_f = df_gr_f.drop("EnvironmentalInnovation", axis=1)
df_gr_f = df_gr_f.rename(columns = {"Emissions":"Emissions_ret" })

df_gr_f = pd.merge(df_gr_f, df_esg_3m, left_on=["permid","Yr_Mth"], right_on = ["permid","Yr_Mth"])
df_gr_f.head()
# Retained Earnings -> req

,Unnamed: 0,Yr_Mth,permid,MomentumL1Y,Mth_Ret,mkt_cap,req,bm,Emissions_ret,buzz,...,ttf_m1,ttf_m3,mo1_ret,mo3_ret,co1_ret,co12_ret,cbot_eth_q1_ret,ttf_m1_ret,ttf_m3_ret,Emissions
0,18,2006-01,4295868725,0.066941,0.101909,22.850595,NaN,123.235305,0.151157,1117.283333,...,NaN,NaN,0.8,0.175924,0.085701,0.092144,NaN,NaN,NaN,63.588889
1,19,2006-04,4295868725,0.091841,-0.245961,23.288475,NaN,114.734866,-0.212662,1448.236264,...,NaN,NaN,0.8,-0.258411,0.121996,0.101705,NaN,NaN,NaN,50.065934
2,20,2006-07,4295868725,-0.000135,-0.705511,22.818316,NaN,126.740292,0.339104,1281.010870,...,NaN,NaN,0.8,-0.162085,0.004840,0.021348,NaN,NaN,NaN,67.043478
3,21,2006-10,4295868725,-0.204360,0.034518,22.852252,NaN,124.101557,-0.047341,1145.831522,...,NaN,NaN,0.8,-0.406425,-0.142722,-0.099146,NaN,NaN,NaN,63.869565
4,22,2007-01,4295868725,-0.203761,-0.006564,22.790050,2324.0,129.003667,-0.421738,1103.544444,...,NaN,NaN,0.8,-0.775334,-0.032819,-0.051143,NaN,NaN,NaN,36.933333

### GMM for Germany 
Fixed effects: industry (green, brown and consumer) + Year (xtset)
(Firm)
Dependent variable: stock returns (monthly for US & quarterly for Germany)
Entity-specific regressor: Emissions, Momentum, Book to market, Mkt cap (heterogenous)
Common regressor: Carbon returns

there is a new Stata command xtreg -vxtdpdgmm
Reference for GMM in https://www.stata.com/manuals13/rgmm.pdf
https://www.statalist.org/forums/forum/general-stata-discussion/general/1567553-s-gmm-interpretation
https://www.statalist.org/forums/forum/general-stata-discussion/general/1395858-xtdpdgmm-new-stata-command-for-efficient-gmm-estimation-of-linear-dynamic-panel-models-with-nonlinear-moment-conditions

In [11]:
# consider adding investment as one of the moment conditions
# req: retained earnings
list_dict = []
var = ["beta_1","cons_1","beta_2","beta_3","cons_3"]
var_p = ["beta_1_p","cons_1_p","beta_2_p","beta_3_p","cons_3_p"]
for industry in ["brown"]: #,"green","consumer"]:
    dfa1 = df_gr_f[df_gr_f["class"]==industry]  # depends a lot on industry
    stata.pdataframe_to_data(dfa1, force=True)
    try:
        stata.run('''gen Yr_Mth2 = date(Yr_Mth, "YM")''')
        df_dates = pystata.stata.pdataframe_from_data(["Yr_Mth2", "Yr_Mth"])

        #stata.run('''asreg Mth_Ret bm MomentumL1Y mkt_cap Emissions, fmb newey(2) first save(results) se''')
        stata.run('''xtset permid Yr_Mth2''')
        stata.run('''gen lag_mo =mo1_ret[_n-1]''')
        stata.run('''gen lag_emt=Emissions_ret[_n-1]''')
        stata.run('''gen lag_em =(0.01*Emissions[_n-1])''')
        stata.run('''gen lag_cbot=cbot_eth_q1[_n-1]''')
        stata.run('''gen lag_ttf =ttf_m3_ret[_n-1]''')
        stata.run('''gen lag_brent =co12_ret[_n-2]''')  # Brent
        #stata.run('''ds''') #  *lag_em with and without to test robustness ; display variables in memory
        stata.run('''gmm (eq1: Mth_Ret-{beta_1}*lag_em*lag_mo) (eq2: Emissions_ret-{beta_2}*lag_emt-0.005) \
            (eq3: req-{beta_3}*lag_mo), \
            instruments(eq1 eq3: lag_ttf lag_cbot lag_brent) winitial(identity)''')
        #  (eq3: req-{beta_3}*mo1_price - {cons1} ), \
        #stata.run(''' reg req mo1_ret''')  #mo1_ret

        df_vals = pystata.stata.get_return()
        df_vale = pystata.stata.get_ereturn() 
        res  = dict(zip(var, df_vals["r(PT)"][:,0]))
        df_p = dict(zip(var_p, df_vals["r(PT)"][:,3]))
        res.update(df_p)

        res["class"] = industry 
        res["no_of_parameters"] = 5
        res["no_of_moments"] = 9
        res["no_of_obs"] = df_vale["e(N)"]
        
        stata.run('''estat overid''')
        df_valsHS = pystata.stata.get_return()
        res["Hansen_prob"] = df_valsHS["r(J_p)"]
        res["Hansen_J_stat"] = df_valsHS["r(J)"]
        list_dict.append(res)
    except Exception as e: 
        print ("ERROR: " + str(e))
df_res = pd.DataFrame.from_records(list_dict, index = range(len(list_dict)))

Panel variable: permid (unbalanced)
 Time variable: Yr_Mth2, 16802 to 22646, but with gaps
         Delta: 1 unit
(1 missing value generated)
(57 missing values generated)
(1 missing value generated)
(1,186 missing values generated)
(171 missing values generated)
(2 missing values generated)
note: 75 missing values returned for equation 2 at initial values.
note: 268 missing values returned for equation 3 at initial values.

Step 1
Iteration 0:  GMM criterion Q(b) =   11069688
Iteration 1:  GMM criterion Q(b) =  1604.2981
Iteration 2:  GMM criterion Q(b) =  1604.2981

Step 2
Iteration 0:  GMM criterion Q(b) =  .00697961
Iteration 1:  GMM criterion Q(b) =   .0043495
Iteration 2:  GMM criterion Q(b) =   .0043495

GMM estimation

Number of parameters =   3
Number of moments    =   9
Initial weight matrix: Identity                   Number of obs   =      1,804
GMM weight matrix:     Robust

------------------------------------------------------------------------------
             |               Robust
             | Coefficient  std. err.      z    P>|z|     [95% conf. interval]
-------------+----------------------------------------------------------------
     /beta_1 |   .1607625   .0214642     7.49   0.000     .1186935    .2028315
     /beta_2 |   .9803813   .2649996     3.70   0.000     .4609916    1.499771
     /beta_3 |   2212.273   157.7684    14.02   0.000     1903.052    2521.493
------------------------------------------------------------------------------
Instruments for equation eq1: lag_ttf lag_cbot lag_brent _cons
Instruments for equation eq2: _cons
Instruments for equation eq3: lag_ttf lag_cbot lag_brent _cons

  Test of overidentifying restriction:

  Hansen's J chi2(6) =  7.8465 (p = 0.2496)

In [17]:
df_vals

{'r(PT_has_legend)': 0.0,
 'r(PT_has_cnotes)': 0.0,
 'r(PT_k_ctitles)': 2.0,
 'r(level)': 95.0,
 'r(k_eform)': 1.0,
 'r(PT_rseps)': '`""\' `""\' `""\'',
 'r(PT_rnotes)': '`""\' `""\' `""\'',
 'r(PT_raligns)': '`"right"\' `"right"\' `"right"\'',
 'r(PT_rtitles)': '`"/beta_1"\' `"/beta_2"\' `"/beta_3"\'',
 'r(PT_cformats)': '`"%9.0g"\' `"%9.0g"\' `"%8.2f"\' `"%5.3f"\' `"%9.0g"\' `"%9.0g"\'',
 'r(PT_cspans2)': '`"1"\' `"1"\' `"1"\' `"1"\' `"2"\' `"0"\'',
 'r(PT_ctitles2)': '`"Coefficient"\' `"std. err."\' `"z"\' `"P>|z|"\' `"[95% conf. interval]"\' `""\'',
 'r(PT_cspans1)': '`"1"\' `"1"\' `"1"\' `"1"\' `"1"\' `"1"\'',
 'r(PT_ctitles1)': '`""\' `"Robust"\' `""\' `""\' `""\' `""\'',
 'r(put_tables)': 'PT',
 'r(citype)': 'normal',
 'r(_collect_prefix_get)': 'ignore',
 'r(PT)': array([[1.60762509e-01, 2.14641559e-02, 7.48981278e+00, 6.89719276e-14,
         1.18693537e-01, 2.02831482e-01],
        [9.80381253e-01, 2.64999607e-01, 3.69955738e+00, 2.15975809e-04,
         4.60991567e-01, 1.49977094e+00],
        [2.21227268e+03, 1.57768369e+02, 1.40222828e+01, 1.13891436e-44,
         1.90305236e+03, 2.52149301e+03]]),
 'r(table)': array([[1.60762509e-001, 9.80381253e-001, 2.21227268e+003],
        [2.14641559e-002, 2.64999607e-001, 1.57768369e+002],
        [7.48981278e+000, 3.69955738e+000, 1.40222828e+001],
        [6.89719276e-014, 2.15975809e-004, 1.13891436e-044],
        [1.18693537e-001, 4.60991567e-001, 1.90305236e+003],
        [2.02831482e-001, 1.49977094e+000, 2.52149301e+003],
        [8.98846567e+307, 8.98846567e+307, 8.98846567e+307],
        [1.95996398e+000, 1.95996398e+000, 1.95996398e+000],
        [0.00000000e+000, 0.00000000e+000, 0.00000000e+000]])}

In [18]:
df_vale

{'e(rank)': 3.0,
 'e(N)': 1804.0,
 'e(Q)': 0.0043495034089505455,
 'e(J)': 7.846504149746784,
 'e(J_df)': 6.0,
 'e(k_1)': 1.0,
 'e(k_2)': 1.0,
 'e(k_3)': 1.0,
 'e(converged)': 1.0,
 'e(has_xtinst)': 0.0,
 'e(type)': 1.0,
 'e(version)': 18.0,
 'e(Q_criterion)': 0.0043495034089505455,
 'e(n_eq)': 3.0,
 'e(k)': 3.0,
 'e(n_moments)': 9.0,
 'e(k_eq)': 3.0,
 'e(k_aux)': 3.0,
 'e(k_eq_model)': 0.0,
 'e(scorevers)': 'version 18:',
 'e(cmdline)': 'gmm (eq1: Mth_Ret-{beta_1}*lag_em*lag_mo) (eq2: Emissions_ret-{beta_2}*lag_emt-0.005) (eq3: req-{beta_3}*lag_mo), instruments(eq1 eq3: lag_ttf lag_cbot lag_brent) winitial(identity)',
 'e(cmd)': 'gmm',
 'e(estat_cmd)': 'gmm_estat',
 'e(predict)': 'gmm_p',
 'e(marginsnotok)': 'Residuals SCores',
 'e(marginsok)': 'xb',
 'e(marginsprop)': 'allcons nochainrule',
 'e(eqnames)': 'eq1 eq2 eq3',
 'e(technique)': 'gn',
 'e(group)': 'permid',
 'e(winit)': 'Identity',
 'e(estimator)': 'twostep',
 'e(wmatrix)': 'robust',
 'e(vce)': 'robust',
 'e(vcetype)': 'Robust',
 'e(params)': 'beta_1:_cons beta_2:_cons beta_3:_cons',
 'e(inst_3)': 'lag_ttf lag_cbot lag_brent _cons',
 'e(params_3)': 'beta_3:_cons',
 'e(sexp_3)': 'req-{beta_3:_cons}*lag_mo',
 'e(inst_2)': '_cons',
 'e(params_2)': 'beta_2:_cons',
 'e(sexp_2)': 'Emissions_ret-{beta_2:_cons}*lag_emt-0.005',
 'e(inst_1)': 'lag_ttf lag_cbot lag_brent _cons',
 'e(params_1)': 'beta_1:_cons',
 'e(sexp_1)': 'Mth_Ret-{beta_1:_cons}*lag_em*lag_mo',
 'e(properties)': 'b V',
 'e(b)': array([[1.60762509e-01, 9.80381253e-01, 2.21227268e+03]]),
 'e(V)': array([[ 4.60709990e-04,  1.59736325e-04, -1.09959596e-01],
        [ 1.59736325e-04,  7.02247920e-02, -1.93051371e-01],
        [-1.09959596e-01, -1.93051371e-01,  2.48908583e+04]]),
 'e(init)': array([[0., 0., 0.]]),
 'e(W0)': array([[ 2.42438299e+02, -1.01472395e+02, -4.21569351e+02,
          1.64312237e+02, -2.30032414e-01,  2.38378542e-04,
         -2.45474292e-04, -3.96085521e-04,  4.40558588e-04],
        [-1.01472395e+02,  3.97969869e+02, -4.70049437e+02,
         -6.40926393e+02,  1.65978026e-01, -2.35767185e-04,
          3.57206284e-04,  6.60076459e-05, -5.64006113e-04],
        [-4.21569351e+02, -4.70049437e+02,  2.17993685e+03,
          7.57355092e+02,  3.01318657e-01, -1.05380423e-04,
         -1.66534075e-06,  1.39567336e-03, -1.59556542e-04],
        [ 1.64312237e+02, -6.40926393e+02,  7.57355092e+02,
          1.03310107e+03, -2.70288317e-01,  3.78934777e-04,
         -5.73850221e-04, -1.09973515e-04,  9.08988234e-04],
        [-2.30032414e-01,  1.65978026e-01,  3.01318657e-01,
         -2.70288317e-01,  4.78595843e-01, -9.50855394e-07,
          2.84189847e-06,  2.09225736e-06, -3.83407439e-06],
        [ 2.38378542e-04, -2.35767185e-04, -1.05380423e-04,
          3.78934777e-04, -9.50855394e-07,  3.81020876e-07,
         -2.40352366e-07, -1.98619495e-07,  3.31300234e-07],
        [-2.45474292e-04,  3.57206284e-04, -1.66534075e-06,
         -5.73850221e-04,  2.84189847e-06, -2.40352366e-07,
          6.22794276e-07, -3.80442264e-07, -9.51309882e-07],
        [-3.96085521e-04,  6.60076459e-05,  1.39567336e-03,
         -1.09973515e-04,  2.09225736e-06, -1.98619495e-07,
         -3.80442264e-07,  3.38262359e-06,  6.21912891e-07],
        [ 4.40558588e-04, -5.64006113e-04, -1.59556542e-04,
          9.08988234e-04, -3.83407439e-06,  3.31300234e-07,
         -9.51309882e-07,  6.21912891e-07,  1.49210740e-06]]),
 'e(W_criterion)': array([[ 2.42438299e+02, -1.01472395e+02, -4.21569351e+02,
          1.64312237e+02, -2.30032414e-01,  2.38378542e-04,
         -2.45474292e-04, -3.96085521e-04,  4.40558588e-04],
        [-1.01472395e+02,  3.97969869e+02, -4.70049437e+02,
         -6.40926393e+02,  1.65978026e-01, -2.35767185e-04,
          3.57206284e-04,  6.60076459e-05, -5.64006113e-04],
        [-4.21569351e+02, -4.70049437e+02,  2.17993685e+03,
          7.57355092e+02,  3.01318657e-01, -1.05380423e-04,
         -1.66534075e-06,  1.39567336e-03, -1.59556542e-04],
        [ 1.64312237e+02, -6.40926393e+02,  7.57355092e+02,
          1.03310107e+03, -2.70288317e-01,  3.78934777e-04,
         -5.73850221e-04, -1.09973515e-04,  9.08988234e-04],
        [-2.30032414e-01,  1.65978026e-01,  3.01318657e-01,
         -2.70288317e-01,  4.78595843e-01, -9.50855394e-07,
          2.84189847e-06,  2.09225736e-06, -3.83407439e-06],
        [ 2.38378542e-04, -2.35767185e-04, -1.05380423e-04,
          3.78934777e-04, -9.50855394e-07,  3.81020876e-07,
         -2.40352366e-07, -1.98619495e-07,  3.31300234e-07],
        [-2.45474292e-04,  3.57206284e-04, -1.66534075e-06,
         -5.73850221e-04,  2.84189847e-06, -2.40352366e-07,
          6.22794276e-07, -3.80442264e-07, -9.51309882e-07],
        [-3.96085521e-04,  6.60076459e-05,  1.39567336e-03,
         -1.09973515e-04,  2.09225736e-06, -1.98619495e-07,
         -3.80442264e-07,  3.38262359e-06,  6.21912891e-07],
        [ 4.40558588e-04, -5.64006113e-04, -1.59556542e-04,
          9.08988234e-04, -3.83407439e-06,  3.31300234e-07,
         -9.51309882e-07,  6.21912891e-07,  1.49210740e-06]]),
 'e(V_modelbased)': array([[ 4.58099249e-04,  1.21159975e-04, -9.68704868e-02],
        [ 1.21159975e-04,  7.04435596e-02, -1.90071240e-01],
        [-9.68704868e-02, -1.90071240e-01,  2.48933228e+04]]),
 'e(S)': array([[ 2.87079359e-02, -3.29954472e-02,  9.52735822e-03,
         -3.20928992e-02,  1.38439413e-03, -8.86456442e+00,
         -9.61101566e+00, -1.91718904e+00, -3.65531145e+00],
        [-3.29954472e-02,  2.93942530e+00, -1.06487819e-02,
          1.83660600e+00,  1.32908336e-02, -9.61101566e+00,
         -2.54392335e+02,  3.36902171e+00, -1.59834973e+02],
        [ 9.52735822e-03, -1.06487819e-02,  3.81215166e-03,
         -1.09050576e-02, -2.70906078e-04, -1.91718904e+00,
          3.36902171e+00, -1.04130783e+00,  3.21478564e+00],
        [-3.20928992e-02,  1.83660600e+00, -1.09050576e-02,
          1.15351632e+00,  9.06866238e-03, -3.65531145e+00,
         -1.59834973e+02,  3.21478564e+00, -1.02399630e+02],
        [ 1.38439413e-03,  1.32908336e-02, -2.70906078e-04,
          9.06866238e-03,  2.08409865e+00, -1.00482752e+01,
         -7.13854786e+01, -2.75681129e+00, -3.75973925e+01],
        [-8.86456442e+00, -9.61101566e+00, -1.91718904e+00,
         -3.65531145e+00, -1.00482752e+01,  4.45200621e+06,
          7.53731900e+06,  4.40995596e+05,  3.63374920e+06],
        [-9.61101566e+00, -2.54392335e+02,  3.36902171e+00,
         -1.59834973e+02, -7.13854786e+01,  7.53731900e+06,
          7.45616024e+07,  4.25568031e+05,  4.56892420e+07],
        [-1.91718904e+00,  3.36902171e+00, -1.04130783e+00,
          3.21478564e+00, -2.75681129e+00,  4.40995596e+05,
          4.25568031e+05,  3.65734449e+05,  2.07469984e+04],
        [-3.65531145e+00, -1.59834973e+02,  3.21478564e+00,
         -1.02399630e+02, -3.75973925e+01,  3.63374920e+06,
          4.56892420e+07,  2.07469984e+04,  2.89865925e+07]]),
 'e(G)': array([[-4.84989220e-02,  0.00000000e+00,  0.00000000e+00],
        [-7.51042547e-01,  0.00000000e+00,  0.00000000e+00],
        [ 2.67947814e-05,  0.00000000e+00,  0.00000000e+00],
        [-4.79640246e-01,  0.00000000e+00,  0.00000000e+00],
        [ 0.00000000e+00, -1.28256322e-01,  0.00000000e+00],
        [ 0.00000000e+00,  0.00000000e+00, -7.32254327e-02],
        [ 0.00000000e+00,  0.00000000e+00, -1.24833940e+00],
        [ 0.00000000e+00,  0.00000000e+00,  2.35384227e-03],
        [ 0.00000000e+00,  0.00000000e+00, -8.00000012e-01]]),
 'e(W)': array([[ 2.42438299e+02, -1.01472395e+02, -4.21569351e+02,
          1.64312237e+02, -2.30032414e-01,  2.38378542e-04,
         -2.45474292e-04, -3.96085521e-04,  4.40558588e-04],
        [-1.01472395e+02,  3.97969869e+02, -4.70049437e+02,
         -6.40926393e+02,  1.65978026e-01, -2.35767185e-04,
          3.57206284e-04,  6.60076459e-05, -5.64006113e-04],
        [-4.21569351e+02, -4.70049437e+02,  2.17993685e+03,
          7.57355092e+02,  3.01318657e-01, -1.05380423e-04,
         -1.66534075e-06,  1.39567336e-03, -1.59556542e-04],
        [ 1.64312237e+02, -6.40926393e+02,  7.57355092e+02,
          1.03310107e+03, -2.70288317e-01,  3.78934777e-04,
         -5.73850221e-04, -1.09973515e-04,  9.08988234e-04],
        [-2.30032414e-01,  1.65978026e-01,  3.01318657e-01,
         -2.70288317e-01,  4.78595843e-01, -9.50855394e-07,
          2.84189847e-06,  2.09225736e-06, -3.83407439e-06],
        [ 2.38378542e-04, -2.35767185e-04, -1.05380423e-04,
          3.78934777e-04, -9.50855394e-07,  3.81020876e-07,
         -2.40352366e-07, -1.98619495e-07,  3.31300234e-07],
        [-2.45474292e-04,  3.57206284e-04, -1.66534075e-06,
         -5.73850221e-04,  2.84189847e-06, -2.40352366e-07,
          6.22794276e-07, -3.80442264e-07, -9.51309882e-07],
        [-3.96085521e-04,  6.60076459e-05,  1.39567336e-03,
         -1.09973515e-04,  2.09225736e-06, -1.98619495e-07,
         -3.80442264e-07,  3.38262359e-06,  6.21912891e-07],
        [ 4.40558588e-04, -5.64006113e-04, -1.59556542e-04,
          9.08988234e-04, -3.83407439e-06,  3.31300234e-07,
         -9.51309882e-07,  6.21912891e-07,  1.49210740e-06]])}

In [19]:
Wt = df_vale['e(S)']
df_wt = pd.DataFrame(Wt)
df_wt.to_clipboard()

In [20]:
conv = df_vale['e(converged)']
conv

1.0

In [22]:
df_res_t = df_res.transpose()
df_res_t = df_res_t.reindex(index_list)
df_res_t.to_clipboard()
df_res_t.head(20)

                    0
beta_1       0.160763
beta_1_p          0.0
cons_1       0.980381
cons_1_p     0.000216
beta_2    2212.272684
beta_2_p          0.0
beta_3            NaN
beta_3_p          NaN
cons_3            NaN
cons_3_p          NaN

           #     instruments(1: lag_ttf lag_brent lag_em) \
           # instruments(3: lag_ttf lag_brent lag_em) \
             #   xtinstruments(1: Emissions, lags(2/.)) \
            #xtinstruments(3: Emissions, lags(2/.)) \
            # winitial(xt L L)''')
            #instruments(3 : lag_cbot lag_oil lag_e) winitial(identity)''')
            # instruments(2: lag_ttf ) \
        # a non-concave error is obtained if you do not have as many instruments as parameters fro estimation
        # Need to have more instruments than moments